* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgb(173, 167, 167);
}
.cards {
  background-color: aliceblue;
  height: 350px;
  width: 250px;
  margin: 50px 60px;
  margin-left: 110px;
  box-shadow: 5px 5px 35px 20px rgb(87, 86, 86);

  border-radius: 10px;
  display: inline-block;
}
.card_img {
  width: 250px;
  height: 200px;
  border-radius: 10px;
}
.card__info {
  margin: 10px 10px;
  text-transform: uppercase;
}
.card__category {
  margin-left: 30px;
  color: rgb(63, 62, 62);
}
.card_title {
  text-align: center;
  margin-top: 20px;
}

.btn {
  margin-top: 20px;
  text-align: center;
}
button {
  font-family: "Roboto Condensed", sans-serif;
  padding: 6px 6px;
  font-size: medium;
  border-color: rgb(104, 103, 103);

  color: rgb(104, 103, 103);
}
.cards:hover {
  box-shadow: 5px 5px 35px 20px white;
  background-color: rgb(218, 218, 218);
  transform: scale(1.05, 1.05);
}
button:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer;
}
nav {
  height: 60px;
  background-color: rgb(255, 255, 255);
}
.nav {
  padding-top: 15px;
  text-align: center;
  color: rgb(173, 167, 167);
  text-transform: uppercase;
}
